*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: Arial;
}
section{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.first-page{
	background-image: url(/Beautiful\ Body\ Art\ By\ Tattoo\ Artist\ Sion\ Kwak\ \(30\ Pics\).jpg);
	color: #fff;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 300px;
	height: 85vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border: 1px solid #000;
	border-radius: 10px;
	position: relative;
}
.first-page h3{
	color: rgb(255, 255, 255);
	text-shadow: 3px 3px #00000042;
	backdrop-filter: blur(5px);
	background-color: #ecb2b244;
	border-radius: 5px;
	padding: 5px 10px;
	font-size: 1.3rem;
	position: absolute;
	top: 40%;
}
.first-page p{
	margin-top: 130px;
	color: #fff;
	background-color: rgb(214, 48, 48);
	border-radius: 5px;
	padding: 5px 10px;
	position: absolute;
	bottom: 30px;
	border: 1px solid #000;
	box-shadow: 1px 1px #0000004f;
	font-weight: normal;
}
.first-page button{
	display: flex;
	justify-content: center;
}
.first-page button a{
	position: absolute;
	bottom: 90px;
	padding: 7px 10px;
	background-color: rgb(214, 48, 48);
	border-radius: 50px;
	color: #fff;
	border: none;
	cursor: pointer;
	box-shadow: 2px 2px #0000004f;
	text-decoration: none;
}
.first-page button a:hover{
	background-color: rgb(226, 76, 76);
	transition: .5s;
}


/* Calculate Love */
.calcLove{
 	background-image: linear-gradient(rgba(231, 171, 171, 0.329), rgba(236, 125, 125, 0.048)),url(/Beautiful\ Body\ Art\ By\ Tattoo\ Artist\ Sion\ Kwak\ \(30\ Pics\).jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  	width: 300px;
	height: 85vh;
	border: 1px solid #000;
	border-radius: 10px;
	backdrop-filter: blur(5px);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}
.calcLove div{
	background-color: rgba(226, 122, 122, 0.6);
	backdrop-filter: blur(2px);
	width: 100%;
	height: 100%;
	justify-content: center;
	display: flex;
	flex-direction: column;
	border-radius: 10px;
}
.calcLove div h3{
	color: #fff;
	text-shadow: 2px 1px #000;
	margin-bottom: 30%;
	margin-left: 25px;
	font-size: 28px;
	position: absolute;
	top: 15%;
}
.calcLove input{
	width: 250px;
	padding: 7px 10px;
	margin: 10px auto;
	outline: none;
	border-radius: 5px;
	border-color: #fff;
}
.calcLove button{
	width: 100px;
	background-color: rgba(226, 76, 76, 0.808);
	margin: 0px auto;
	padding: 7px 10px;
	color: #fff;
	border: none;
	border-radius: 5px;
	box-shadow: 2px 2px #0000004f;	
	cursor: pointer;
	margin-bottom: 30px;
}
.calcLove a{
	font-size: 18px;
	font-weight: 400;
	color: #fff;
	text-decoration: none;
	position: absolute;
	top: 20px;
	right: 30px;
}
.calcLove button:hover{
	background-color: rgb(214, 48, 48);
	transition: .5s;
}
.loveResult{
	background-color: #fff;
	color: rgb(214, 48, 48);
	width: 200px;
	margin: 10px auto;
	padding: 10px;
	border-radius:5px;
	text-align: center;
	font-size: 15px;
	box-shadow: 1px 1px #000;
	/* position: absolute;
	bottom: 15%; */
}
@media (max-width:400px) {
	.first-page{
		width: 100%;
		height: 100%;
		border-radius: 0px;
	}	
	.calcLove{
		width: 100%;
		height: 100%;
		border-radius: 0px;
	}	
	section{
		border-radius: 0px;
	}
}
